@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --primary-color: #ffde59;
 --background-light-color: #ffffff;
 --background-dark-color: #000000;
 --text-light-color: #ffffff;
 --text-dark-color: #000000;
}

.light {
 --foreground: #ffffff;
 --text: #000000;
 --primary-color: #ffde59;
}

.black {
 --text: #ffffff;
 --foreground: #000000;
 --primary-color: #ffde59;
}

@layer base {
 @font-face {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap")
   format("woff2");
 }
}

@media (prefers-color-scheme: dark) {
 :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
 }
}

body {
 color: rgb(var(--foreground-rgb));
 background: linear-gradient(
   to bottom,
   transparent,
   rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

html {
 scroll-behavior: smooth;
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }
}
